@page
@model MyApp.Namespace.StudentModel
@{

}

<h2>Index</h2>

<p>Hello from our View Template!</p>

<div>
    ViewData["Message"] --- asjdhaskjhdasjk
</div>

<div>
    ViewData["PersonName"] --- Name
</div>
